# Security: Environment Variables & API Keys
.env
.env.*

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
build/
dist/

# Serverless/AWS Artifacts
.serverless/
.aws-sam/

# OS Artifacts
.DS_Store
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.zip
