# Security: Environment Variables & API Keys
.env
.env.*

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Serverless/AWS Artifacts
.serverless/
.aws-sam/

# OS Artifacts
.DS_Store.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.zip
__pycache__/
lambda_firewall/pydantic_core/
